/* Admin navbar styles */
.mantine-NavLink-root[dataActive] {
  background-color: var(--mantine-color-orange-7);
  color: var(--mantine-color-white);
}

.mantine-NavLink-root:hover {
  background-color: var(--mantine-color-orange-1);
} 